body {
    font-size: 62.5%;
    max-width: var(--largura-max);
    margin: 0 auto;
    font-family: 'Roboto Flex', system-ui;
}

.cabecalho {
    background-color: #2866AB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.cabecalho .logo {
    font-size: 2rem;
    color: var(--cor-fonte-menu1);
}

.cabecalho .logo:hover {
    color: #FF7844;
}

.cabecalho .menu {
    display: flex;
    font-size: 1rem;
}

.cabecalho .menu li a {
    margin: 0 4rem;
    color: var(--cor-fonte-menu1);
    font-weight: 500;
}

.cabecalho .menu li a:hover {
    color: #FF7844;
}

.principal {
    background: linear-gradient(270deg, rgba(255,120,68,1) 0%, rgba(255,170,138,1) 49%, rgba(255,120,68,1) 100%);     display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.principal .informacoes .chamada {
    margin: 1rem;
    padding: 2%;
    max-width: 450px;
    margin-bottom: 50px;
}

.principal .informacoes .partido {
    background-color: #2866AB;
    margin: 0 auto;
    padding: 2%;
    width: 100px;
}

.principal .informacoes .titulo, .principal .informacoes .numero {
    font-size: 4rem;
    font-family: 'Bowlby One', system-ui;
    line-height: 3.5rem;
    background-color: #e7ebf0;
    color: #2866AB;
}

.principal .informacoes .titulo {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 1rem 1rem 0.5rem 1rem;
}

.principal .informacoes .numero {
    color: #303481;
    font-size: 6.8rem;
    line-height: 6rem;
    margin-bottom: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0.5rem 1rem 1rem 1rem;
}

.principal .informacoes .subtitulo {
    padding: 0 1rem;
    font-size: 1.4rem;
    color: var(--cor-fonte-menu1);
}

.frase, .texto {
    color: var(--cor-fonte-menu1);
}

.principal .informacoes .frase {
    margin: 15px 0;
    font-size: 2rem;
    text-shadow: 2px 2px 0px #000;
}

.principal .informacoes .texto {
    margin-bottom: 20px 0;
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px #000;
}

.texto strong {
    color: #8cbffa;
}

.principal .informacoes .botao {
    padding: 0.5rem 1rem;
    background-color: rgba(251,63,63,1);
    color: #fff;
    border-radius: 10px;
    text-shadow: 2px 2px 4px #000;
    font-size: 1.5rem;
    margin-top: 20px;
}

.principal .informacoes .botao:hover {
    background: linear-gradient(180deg, rgba(251,63,63,1) 0%, rgba(203,0,0,1) 100%);
    cursor: pointer;
}

.principal .foto {
    width: 50%;
    align-self: flex-end;
}

.rodape {
    background-color: #1b1b29;
    color: var(--cor-fonte-menu1);
    height: 9.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}